.container {
    width: 500px;
}

.cell-100, .cell-81, .cell-49 {
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-100 {
    width: calc(100%/10);
}

.cell-81 {
    width: calc(100%/9);
}

.cell-49 {
    width: calc(100%/7);
}

.bg-blue {
    background-color: lightskyblue;
}